{% include '_header.twig' %}

<div class="row separator">
  <nav class="large-3 columns">
  <ul class="side-nav">
  <li class="active"><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>
</nav>
  <article class="large-9 columns">
    <ul data-orbit>
  <li>
    <img src="http://placeimg.com/740/480/arch" alt="">
    <div class="orbit-caption">Bijschrift 1</div>
  </li>
  <!-- <li>
    <img src="http://placeimg.com/740/480/nature" alt=""/>
    <div class="orbit-caption">Bijschrift 2</div>
  </li>
  <li>
    <img src="http://placeimg.com/740/480/tech" alt=""/>
    <div class="orbit-caption">Bijschrift nummer 3</div>
  </li> -->
</ul>
   <!--  <img src="http://placeimg.com/740/480/arch" alt=""> -->
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, vero nihil possimus libero obcaecati doloribus dolorem odit dolores corporis iusto!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, ut soluta atque pariatur dolorum quam commodi cupiditate quo ex magnam earum ea tempore labore! Nihil, repellat, eveniet laboriosam a consequatur ipsa numquam obcaecati vel dolorum suscipit cupiditate soluta similique consequuntur corrupti id quas nisi. Blabla similique, iure quod distinctio praesentium iusto fugit tempora culpa sunt eaque nobis neque suscipigfgfitae?</p>
  </article>
</div>

{% include '_footer.twig' %}
