// Hulp tijdens ontwikkeling

/*.separator { 
	color: black;
	border-top: 1px dotted black;
	margin-top: 1em;
	&:before {
		content: "Nieuw paginatype";
	}
}*/
// Einde Hulp tijdens ontwikkeling

#toplogo {
	height: auto;
	width: emCalc(350px);
	margin-top: emCalc(5px);
}
.toplogo_container {

}
.tinted {
	background: $tinted-background-color;
}
.homebelow {
	margin-top: 1em;
}

$behavior: nest;

$grijsborder: 1px solid #E6E6E6;

.artikel_overzicht_item {
	margin: 0 0 1em !important; 
	// padding-bottom: 1em;
	// background: yellow;
	border-bottom: $grijsborder;
	display: block;
	// @include grid-row($behavior);

	a {
		&:hover {
			text-decoration: underline;

			img {
				opacity: 0.6;
				} 
			}
		}

	.image_container {
		padding-left:0;
	}
}
.columns {
	h1 {
	margin-top: 1em;
	}

	a {
		&:hover {
			text-decoration: underline;

			img {
				opacity: 0.6;
				} 
			}
		}
}
.deelnemerblok {
	// border-left: $grijsborder;
	border-right: $grijsborder;
	min-height: emCalc(400px);
	margin-bottom: 2em;
	padding-bottom: 2em;

	&:last-child {border-right: none;}

	.deelnemerlink {
		position: absolute;
		bottom: emCalc(0px);
		font-weight: 700;
	}
	svg, img.paard_placeholder {
		width: 100%;
		height: auto;
	}
}
#footerspacer {
	/*background: red;*/
	display: block;
	height: emCalc(50px);
}
footer {
	padding-top:0.5em;
	padding-bottom:0.5em;
	width:100% !important;
	display: block;
	background: $tinted-background-color;
	position: fixed;
	bottom: 0;
	-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
		transition: all 500ms ease;
	&:hover {
		padding-top:1em;
		padding-bottom:1em;
	}

	.columns {
		font-size: 0.75em;
	}

	&.row {width:100% !important;
		max-width: 100%;}
	.footermail {
		text-align: right;
	}
}
// ===========================
// Formulier
// ===========================
ul.mpFormTable {
	li {
		list-style: none;
		.mpMultipleInput, 
		.mpMultipleLabel,
		div.mpFormLabel,
		div.mpFormField,
		span.mandatorySign,
		.descriptionLabel {
			float: left;
		}

		div.mpFormLabel {
			width: 30%;
			display: inline-block;
			// border: 1px solid blue;
			clear: left;
		}
		div.mpFormField{
			width: 70%;
			clear: right;
		}
		.descriptionLabel {
			width: 85%;
		}
		span.mandatorySign {
			float: left;
			color: $primary-color;
		}
		.mpMultipleLabel {
			clear: right;
			display: inline-block;
			// border: 1px solid blue;
		}
		input.mpMultipleInput{
			clear: left;
			margin: 0.5em 0.5em 0 0;
		}
	}
}
.mpFormField ul {
	margin: 0;
	padding: 0;
}
.submitButton {
	background: #222222;
	color: white;
	border: none;
	font-size: 1.5em;
	margin: 0 0 0 30%;
	padding: 0.5em 1em;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	&:hover {background: $primary-color}
}
